@page
@model RegisterModel
@{
    Layout = null;
    ViewData["Title"] = "Registro - ";
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Chernobyl BarberShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ChernobylBarberShop.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Acceso" asp-action="Index">Chernobyl BarberShop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
        </main>
    </div>
    <div class="text-center">
        @*<h1>@ViewData["Title"]</h1>*@
        <h1 class="display-4">Chernobyl BarberShop</h1>

    </div>
    <div class="row mt-5">
        <div class="col-sm-6 offset-sm-3">
            <div class="row">
                <div class="col-md-6">
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <h2>Crea un nueva cuenta.</h2>
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating">
                            <input asp-for="Input.FirstName" class="form-control" autocomplete="firstname" aria-required="true" />
                            <label asp-for="Input.FirstName"></label>
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-floating">
                            <input asp-for="Input.LastName" class="form-control" autocomplete="lastname" aria-required="true" />
                            <label asp-for="Input.LastName"></label>
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>
                        <div class="form-floating">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                            <label asp-for="Input.Email"></label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating">
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                            <label asp-for="Input.Password"></label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-floating">
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                            <label asp-for="Input.ConfirmPassword"></label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Regístrate</button>
                        <p>

                        </p>
                        <p>
                            <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Ya tengo una cuenta</a>
                        </p>
                    </form>
                </div>
                <div class="col-md-6 col-md-offset-2">
                    <section>
                        <h3>Utilice otro servicio para registrarse..</h3>
                        <hr />
                        @{
                            if ((Model.ExternalLogins?.Count ?? 0) == 0)
                            {
                                <div>
                                    <p>
                                        There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                            article
                                            about setting up this ASP.NET application to support logging in via external services
                                        </a>.
                                    </p>
                                </div>
                            }
                            else
                            {
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                    <div>
                                        <p>
                                            @foreach (var provider in Model.ExternalLogins)
                                            {
                                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                            }
                                        </p>
                                    </div>
                                </form>
                            }
                        }
                    </section>
                </div>
            </div>

        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
